:root {
  --color-bg-dark: #3e3e3e;
  --color-bg-light: aliceblue;
  --color-bg-text-dark: #5a1400;
  --color-text-dark: darkorange;
}

#light {
  background: var(--color-bg-light);
}

#dark {
  background: var(--color-bg-dark);
}

#dark .card-header {
  color: var(--color-text-dark);
  background: var(--color-bg-text-dark);
}

.dark__mode {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#light .dark__mode label {
  color: black;
}

#dark .dark__mode label {
  color: white;
}

#dark .btn {
  color: var(--color-text-dark);
  border: 1px solid var(--color-bg-dark);
}

#dark .btn:hover {
  background: transparent;
  background: var(--color-bg-text-dark);
}

#dark nav {
  background: var(--color-bg-text-dark) ;
}

#dark .link .text-bottom {
  color: white;
}